body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#root {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  height: 100vh; 
  background-size: 100% 100%; 
}

#root::before {
  content: "";
  position: absolute; 
  left: 0;
  width: 0; 
  height: 100%; 
  background: linear-gradient(to right, #e6e6e6 0%, rgb(0, 17, 255) 100%); 
  transition: width 0.3s ease;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #1f09e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffee00;
}

.correct {
  background-color: #4CAF50 !important;
}

.incorrect {
  background-color: #f44336 !important;
}

.selected {
  background-color: yellow;
}

.progress {
  display: flex; 
  justify-content: space-between;
}

.progression {
  margin-top: 20px;
  display: flex; 
  justify-content: space-between;
}

.phase {
  width: 20px; 
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 2px; 
}


.phase.active {
  background-color: yellow;
}

.phase.completed {
  background-color: green;
}

.phase.failed {
  background-color: red;
}

#game-over {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 20px;
}
